<h1>Thenk you!</h1>
<p>Article has ben created!</p>
<!--<a href="/articles">Show all articles</a> #так писать не рекомендуется-->
<%= link_to 'Show all articles!', articles_path %> <!--так правельней-->